.container{
  
}

.content-container {

  margin: 40px 40px;
  padding: $m-size $m-size;
  text-align: center;
  
}

.content-container-item {
  background: #bbb;
  text-align: center;
  
}

.content-container-image{
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 640px;
}

.add-room{
 margin: 70px;
}