.header {
  background: #333;
  color: #fff;
  overflow:auto;
}

.header a {
  color: #fff;
}

.header__content {
  list-style: none;
  float:right;
}

.header h1 {
  display: block;
  float:left;
  padding-bottom: 5px;
  margin-top:8px;
  margin-bottom:3px;
}

.header ul li a {
  display: block;
  padding: 15px;
  text-align:center;
}

.header__container {
  margin:auto;
  max-width: 1120px;
  overflow: auto;
  padding: 0 20px;
}

.header button {
  background: none!important;
  border: none;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #fff;
  text-decoration: none;
  margin-top: 15px;
  text-align:center;
  outline: none;
}

.header ul li a:hover, .header ul li button:hover{
  background: #444;
  color: #f7c08a;
}

.header__content__name {
  list-style: none;
  float:right;
  padding-left: 20px;
}

.header__classrooms{
  text-align: center;
}