.link-blue-style{
    color: blue;
    text-decoration: underline;
}

.left-align{
    text-align: left;
}

.align-center{
    text-align: center;
}

.link-blue-style-center{
    color: blue;
    text-decoration: underline;
    text-align: left;
}